@font-face {
  font-family: boldKarlaFont;
  src: url(Karla/static/Karla-Bold.ttf);
}

@font-face {
  font-family: lightKarlaFont;
  src: url(Karla/static/Karla-Light.ttf);
}
@font-face {
  font-family: lightPoppinsFont;
  src: url(Poppins/Poppins-Light.ttf);
}

body {
  color: #2d3631;
  margin: 0 auto;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #f5f5f5;
  opacity: 95%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  font-family: boldKarlaFont;
  flex-wrap: wrap;
  opacity: 75%;
}

a {
  text-decoration: none;
  color: #2d3631;
}

a:hover {
  color: #05994c;
}

.navigation {
  display: flex;
  gap: 2rem;
  margin-right: 2rem;
  margin: 0.5rem 0;
}

.contacts {
  display: flex;
  gap: 2rem;
}

.contacts-item {
  display: flex;
  gap: 0.5rem;
}

.hero-section {
  position: relative;
  margin: 0 0 5.5rem;
}

.hero-section img {
  object-fit: cover;
  width: 100%;
  height: 35rem;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero-text span {
  font-family: boldKarlaFont;
}

.co-name {
  color: #80ea16;
  font-size: 5rem;
  line-height: 5.313rem;
}

.slogan {
  color: #f6e80a;
  font-size: 2.5rem;
}

.description {
  color: #f5f5f5;
  line-height: 2rem;
  max-width: 50rem;
}

.section-title {
  font-family: lightKarlaFont;
  font-size: 3.563rem;
  opacity: 75%;
}

.about-section {
  margin: 0 0 5.5rem 0;
  font-family: lightPoppinsFont;
  font-size: 1rem;
}

.about-section-right-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.about-section-right-col p {
  opacity: 75%;
  line-height: 2.25rem;
  text-align: center;
}

.about-section-header,
.services-section-header,
.gallery-section-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.about-section-content,
.services-section-content {
  margin: 1.5rem 4.5rem;
  display: flex;
  justify-content: center;
  gap: 4.5rem;
}

.about-section-content {
  align-items: center;
}

.services-section-content {
  align-items: flex-start;
}

.about-section-content img {
  border-radius: 0.5rem;
}

.about-section-right-col a {
  padding: 1.5rem 3rem;
  background: #80ea16;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  color: #f5f5f5;
  font-family: boldKarlaFont;
  font-size: 2rem;
}

.about-section-right-col a:hover {
  background: #05994c;
}

.services-left-col {
  display: flex;
  gap: 4rem;
}

.services-left-col p,
.services-left-col ul {
  opacity: 75%;
}

.services-left-col p {
  margin: 0;
  font-family: boldKarlaFont;
  font-size: 1.813rem;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-family: lightPoppinsFont;
}

li {
  margin-bottom: 1rem;
}

.services-section-images {
  position: relative;
}

#bushTrimmingImg {
  position: absolute;
  left: -10%;
  top: 60%;
  height: 80%;
}

.services-list-header {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.gallery-section-content {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 1.5rem 4.5rem;
}

.thumbnail-img {
  height: 15rem;
  border-radius: 0.5rem;
}

.thumbnail {
  position: relative;
  cursor: pointer;
}

.thumbnail-overlay {
  border-radius: 0.5rem;
  height: 98%;
  width: 100%;
  position: absolute;
  top: 0;

  color: #f5f5f5;
  text-align: center;
  opacity: 0;
}

.image-count {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f5f5f5;
  font-family: boldKarlaFont;
  font-size: 2rem;
  margin: 0;
}
.img-viewer-container {
  position: absolute;
  display: none;
}

.large-img-container img {
  max-width: 30rem;
  max-height: 22rem;
  border-radius: 0.25rem;
}

.thumbnails-reel {
  display: flex;
  gap: 1rem;
  width: 45rem;
  overflow-y: auto;
}

.thumbnails-reel img {
  align-self: flex-start;
  height: 4rem;
  border-radius: 0.125rem;
}

.close-button {
  cursor: pointer;
  position: absolute;
  top: 0.25rem;
  right: 0.8rem;
  font-size: 2.5rem;
}

/* TODO: make it mobile friendly */
